extends layout

block content
	.container
		h1 #{title}
		p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam feugiat scelerisque ultricies. Nunc lobortis massa metus, ut ornare erat interdum quis. Sed accumsan efficitur aliquam. Phasellus congue quam ac lectus volutpat rutrum. Nunc eget nisi et tellus fringilla rhoncus.
		ul
			li Lorem ipsum dolor sit amet
			li consectetur adipiscing
			li Nullam feugiat scelerisque
		p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam feugiat scelerisque ultricies. Nunc lobortis massa metus, ut ornare erat interdum quis. Sed accumsan efficitur aliquam. Phasellus congue quam ac lectus volutpat rutrum. Nunc eget nisi et tellus fringilla rhoncus.